<main>
  <img src="../../../../assets/moon.jpg" alt="Fondo de luna rodeada de nubes">
  <section>
    <app-logo></app-logo>
    <p>Bienvenido(a)!!!, regístrate o inicia sesión para empezar a guardar tus notas y secretos aquí.</p>
    <div class="homeLog">
      <a class="logActive">INICIAR SESIÓN</a>
      <a class="logInactive">REGISTRARSE</a>
    </div>
    <app-login></app-login>
    <p>o ingresa con</p>
    <button class="buttonGoogle">
      <img src="../../../../assets/google.png">
      <span>
        Cuenta de Google
      </span>
    </button>
<!--     <app-register></app-register> -->
  </section>
</main>
