<main>
  <img src="../../../../assets/moon.jpg" alt="Fondo de luna rodeada de nubes">
  <section>
    <app-logo></app-logo>
    <p>Bienvenido(a)!!!, regístrate o inicia sesión para empezar a guardar tus notas y secretos aquí.</p>
    <div class="homeLog">
      <a class="logInactive"
        (click)="onChangeClassLogin()"
        [ngClass]="{'logActive':statusLogin === true}">
        INICIAR SESIÓN
      </a>
      <a class="logInactive"
        (click)="onChangeClassRegister()"
        [ngClass]="{'logActive':statusRegister === true}">
        REGISTRARSE
      </a>
    </div>
    <app-login *ngIf="statusLogin"></app-login>
    <app-register *ngIf="statusRegister"></app-register>
    <p>o ingresa con</p>
    <button class="buttonGoogle" (click)="loginGoogle()">
      <img src="../../../../assets/google.png">
      <span>
        Cuenta de Google
      </span>
    </button>
  </section>
</main>
