<main>
  <aside>
    <h3>Hola {{nameUser}}!!!</h3>
    <p>Agrega nuevas notas</p>
    <form [formGroup]="noteForm" (ngSubmit)="saveNote()">
      <input
        placeholder="Título de la nota aquí, máximo 60 letras..."
        formControlName="tittle"
        [(ngModel)]="note.tittle"
        maxlength="60"
        (click)="statusNoteTittle=false"
        required>
      <div class="noteError1" *ngIf="statusNoteTittle">*Campo obligatorio</div>
      <textarea
        placeholder="Redacta tu nota aquí, máximo 1500 letras..."
        formControlName="body"
        [(ngModel)]="note.body"
        maxlength="1500"
        (click)="statusNoteBody=false"
        required>
      </textarea>
      <div class="noteError2" *ngIf="statusNoteBody">*Campo obligatorio</div>
      <button class="buttonSavePost" type="submit" *ngIf="statusButtonSave">Guardar</button>
      <div class="boxButtonEdit" *ngIf="statusButtonEdit">
        <button class="buttonCancelEdit" (click)="cancelTheEdition()">Cancelar</button>
        <button class="buttonEditPost" (click)="editPost($event)">Editar</button>
      </div>
    </form>
    <img src="../../../../assets/lunalive.gif" alt="Gato negro moviendo colita">
  </aside>
  <app-note (noteForEdit)="onNoteForEdit($event)"></app-note>
</main>
