<section>
  <div class="noteContainer" *ngFor="let note of arrayNotes; let i=index">
    <div class="noteHeader">
      <img [src]="i%2===0 ? '../../../../assets/artemis.png' : '../../../../assets/lunita.png'" alt="Gatos asomándose">
      <div class="noteButtons">
        <button class="noteEdit" (click)="editingNote($event, note)">Editar</button>
        <button class="noteDelete" (click)="deletingNote(note)">Eliminar</button>
      </div>
    </div>
    <div class="noteBody">
      <h4>{{note.tittle}}</h4>
      <p>{{note.body}}</p>
    </div>
  </div>
</section>
