@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

footer{
  background-color: #B7B6BD;
  padding: 7px;
  width: 100%;
  font-family: 'Delius', cursive;
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  color: #3A3A5E;
}
