@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.tittle{
  display: flex;
  align-items: center;

  img {
    width: 50px;
  }

  p {
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    margin-left: 15px;
    color: #1A1927;
  }
}

